<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/security 
    http://www.springframework.org/schema/security/spring-security-4.0.xsd">

	<!-- <http auto-config="true" use-expressions="false">
		<intercept-url pattern="/loginWithSecurity*.html" access="ROLE_USER" />
		<http-basic /> 
		this means basic window authentication  need to clear cache otherwise not work if you put /maven_webapp/..*, it won't work
	</http> -->
	
	<http auto-config="true" use-expressions="false">
		<intercept-url pattern="/loginWithSecurity*.html" access="ROLE_USER" />
		<form-login /> 
		<logout logout-success-url="/Maven_webapp/option" />
	</http>
	
	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="admin" password="1234" authorities="ROLE_USER" />
				<user name="user" password="1234" authorities="ROLE_USER" />
			</user-service>
		</authentication-provider>
	</authentication-manager>


</beans:beans>
