<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
        http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">

	<display-name></display-name>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/springSecurityConfig.xml, /WEB-INF/applicationContext.xml</param-value>
    </context-param>
    
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

		<!-- default name dispatcher-servlet.xml, but default changed using below 
			code -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value></param-value>

			<!-- <param-value>/WEB-INF/applicationContext.xml, /WEB-INF/zxy.xml</param-value> 
				(if multiple) or <param-value> /WEB-INF/applicationContext.xml /WEB-INF/springSecurityConfig.xml 
				</param-value> -->
		</init-param>

	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern> <!-- / - means any request will be handle by dispatcher servlet -->
	</servlet-mapping>

	<!-- <servlet> <servlet-name>dispatcher</servlet-name> <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> 
		using servlet-name, must need to create dispatcher servlet configuration 
		xml file ('servlet-name'-servlet.xml) </servlet> <servlet-mapping> <servlet-name>dispatcher</servlet-name> 
		<url-pattern>/</url-pattern> / - means any request will be handle by dispatcher 
		servlet </servlet-mapping> -->

	<!-- spring security (name and class are fixed) -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>
            welcome.jsp
        </welcome-file>
	</welcome-file-list>

</web-app>
